body
{
    margin: 0;
    padding: 0;
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1
{
    margin-top:0;
    padding-top: 15px;
}

p
{
    padding-bottom: 10px;
    margin: 0;
}

nav, main, footer
{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav>section, main>section, footer>section
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section
{
    padding: 0;
    margin: 0;
}

.clear
{
    clear:both;
}

/*

NAV

 */

nav>section
{
    width: calc(100vw - 20px);
    min-height: 100px;
    background-image: url("../img/deadmau5-logo.png");
    background-size: 250px 90px;
    background-repeat: no-repeat;
    background-position: right top;
}

@media screen and (max-width: 600px)
{
    nav>section
    {
        padding-top: 100px;
        background-position: center top;
        background-size: 250px 90px;
    }
}

nav
{
    border-bottom: 5px #e11d21 solid;
}

nav>section, nav
{
    background-color:#3B3B3B;
}

nav>section>ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>section>ul>li
{
    display: inline-block;
}

@media screen and (max-width: 600px)
{
    nav>section>ul>li
    {
        display: block;
    }
}

nav>section>ul>li>a
{
    text-decoration: none;
    color: lightgrey;
    display: block;
    padding: 5px;
}

@media screen and (min-width: 600px)
{
    nav > section > ul > li > a:hover, nav .active {
        border-top: 3px lightgray solid;
    }
}

@media screen and (max-width: 600px)
{
    nav>section>ul>li>a:hover, nav .active
    {
        border-left: 3px lightgray solid;
    }
}

/*

MAIN

 */



main>section
{
    width: calc(100vw - 20px);
    padding: 10px;
}

main>section, main
{
    background-color: white;
}

@media screen and (max-width: 1200px)
{
    main>section
    {
        width: calc(100vw - 20px);
    }
}

/*

FOOTER

 */

footer
{
    padding-top: 10px;
}

footer>section, footer
{
    background-color: #292929;
}

footer>section>ul
{
    margin:0;
    padding: 0;
    display: block;
}

footer>section>ul>li
{
    text-decoration: none;
    color: white;
    display: block;
}

@media screen and (max-width: 1220px)
{
    footer>section
    {
        width: calc(100vw - 20px);
    }

    footer>section>ul
    {
        width: calc(100%/3 - 10px);
        float: left;
    }
}

@media screen and (max-width: 600px)
{
    footer>section>ul
    {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width: 1200px)
{
    footer>section>ul
    {
        width: 393px;
        float: left;
    }
}
