body
{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1
{
    margin-top:0;
    padding-top: 15px;
}

p
{
    padding-bottom: 10px;
    margin: 0;
}

nav, main, footer
{
    background-color: grey;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav>section, main>section, footer>section
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section
{
    padding: 0;
    margin: 0;
}

.clear
{
    clear:both;
}

/*

NAV

 */

nav>section, nav
{
    background-color:mediumaquamarine;
}

nav>section>ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>section>ul>li
{
    display: inline-block;
}

@media screen and (max-width: 600px)
{
    nav>section>ul>li
    {
        display: block;
    }
}

nav>section>ul>li>a
{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    background-color: aquamarine;
}

nav>section>ul>li>a:hover
{
    display: block;
    padding: 5px;
    background-color: aqua;
}

/*

MAIN

 */


main>section, main
{
    background-color: white;
}

@media screen and (max-width: 1200px)
{
    main>section
    {
        width: calc(100vw - 20px);
    }
}

/*

FOOTER

 */

footer
{
    padding-top: 10px;
}

footer>section, footer
{
    background-color: grey;
}

footer>section>ul
{
    margin:0;
    padding: 0;
    display: block;
}

footer>section>ul>li
{
    text-decoration: none;
    color: black;
    display: block;
}

@media screen and (max-width: 1200px)
{
    footer>section
    {
        width: calc(100vw - 20px);
    }

    footer>section>ul
    {
        width: calc(100%/3 - 10px);
        padding: 5px;
        float: left;
    }
}

@media screen and (max-width: 600px)
{
    footer>section>ul
    {
        width: 100%;
        padding: 5px;
        float: none;
    }
}

@media screen and (min-width: 1200px)
{
    footer>section>ul
    {
        width: 393px;
        padding: 0;
        float: left;
    }
}
