body
{
    margin: 0;
    padding: 0;
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
}

a
{
    text-decoration: none;
    color: inherit;
}

h1
{
    margin-top:0;
    padding-top: 15px;
}

h2
{
    margin-top:0;
    padding-top: 10px;
}

p
{
    padding-bottom: 10px;
    margin: 0;
    line-height: 30px;
}

nav, main, footer
{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav>section, main>section, footer>section
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section
{
    padding: 0;
    margin: 0;
}

.clear
{
    clear:both;
}

/*

NAV

 */

nav>section
{
    width: calc(100vw - 20px);
    min-height: 100px;
    background-image: url("../img/deadmau5-logo.png");
    background-size: 250px 90px;
    background-repeat: no-repeat;
    background-position: right top;
}

@media screen and (max-width: 600px)
{
    nav>section
    {
        padding-top: 100px;
        background-position: center top;
        background-size: 250px 90px;
    }
}

nav
{
    border-bottom: 5px #e11d21 solid;
}

nav>section, nav
{
    background-color:#3B3B3B;
}

nav>section>ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav>section>ul>li
{
    display: inline-block;
    font-size: larger;
}

@media screen and (max-width: 600px)
{
    nav>section>ul>li
    {
        display: block;
    }

    nav>section>ul>li>a
    {
        line-height: 30px;
        font-size: x-large;
    }
}

nav>section>ul>li>a
{
    text-decoration: none;
    color: lightgrey;
    display: block;
    padding: 5px;
}

@media screen and (min-width: 601px)
{
    nav > section > ul > li > a:hover, nav .active {
        border-top: 3px lightgray solid;
    }
}

@media screen and (max-width: 600px)
{
    nav>section>ul>li>a:hover, nav .active
    {
        border-left: 3px lightgray solid;
    }
}

/*

MAIN

 */

main>section
{
    width: calc(100vw - 20px);
    padding: 10px;
}

main>section, main
{
    background-color: white;
}

main>section>#aboutdeadmau5
{
    width: calc((100% / 3) *2 - 20px);
    padding-right:20px;
    float:left;
}

main>section>#biocard
{
    width: calc((100% / 3) - 20px);
    padding:10px;
    margin-top: 10px;
    float:left;
    background-color: #A9A9A9;
}

main>section>#biocard
{
    color: white;
}

main>section>#biocard>img
{
    width: 100%;
}

main>section>#biocard>ul
{
    list-style: none;
    padding: 0;
}

main>section>#biocard>ul>li
{
    line-height: 20px;
}

main>section>#biocard>ul li:nth-child(2n+1)
{
    margin-top: 7px;
    font-weight: bold;
}

@media screen and (min-width: 801px)
{
    .third
    {
        width: calc((100%/3) - 10px);
        float: left;
        min-height: 300px;
    }

    .third:nth-child(3n+2)
    {
        margin-left: 10px;
        margin-right: 10px;
    }

    .third:nth-child(3n+4)
    {
        clear:left;
    }
}

@media screen and (max-width: 800px)
{
    .third
    {
        width: 100%;
        margin: 0;
        float: left;
        min-height: 300px;
    }
}

main>section>#locatie.third>img
{
    cursor: pointer;
    width: 100%;
    display: block;
    float: left;
}

main>section>#locatie.third>ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

main>section>#locatie.third>ul>li:first-child
{
    font-weight: bold;
}

main>section>#locatie.third>ul>li
{
    line-height: 20px;
}

@media screen and (min-width: 500px) and (max-width: 800px)
{
    main > section > #locatie.third > img
    {
        width: calc(50% - 10px);
        margin-right: 10px;
        float: left;
    }

    main>section>#locatie.third>ul
    {
        width: calc(50% - 10px);
        margin-left: 10px;
        float: left;
    }
}

main>section>#lineup>ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}


main>section>#lineup>ul>li
{
    color: white;
    display: block;
    padding: 10px;
    background-color: #292929;
    margin-top: 10px;
}

main>section>#lineup>ul>li>h3
{
    font-size: larger;
    line-height: 20px;
    margin: 0;
}

main>section>#lineup>ul>li:first-child
{
    margin-top: 0;
}


@media screen and (max-width: 800px)
{
    main>section
    {
        width: calc(100% - 20px);
    }

    main>section>#aboutdeadmau5
    {
        width: calc(100% - 10px);
        padding:0;
        float:none;
        margin:0;
    }

    main>section>#biocard
    {
        width: calc(100% - 20px);
        float:none;
        margin:0;
    }
}

@media all and (orientation:landscape) and (max-width: 800px) {

    main>section>#biocard>ul
    {
        width: calc(50% - 10px);
        float:left;
        display:block;
        margin:0;
    }
    main>section>#biocard>img,
    main>section>#biocard>small,
    main>section>#biocard>h2,
    main>section>#biocard>ul
    {
        width: calc(50% - 10px);
        height:auto;
        display: block;
        float:left;
    }

    main>section>#biocard>small,
    main>section>#biocard>h2,
    main>section>#biocard>ul
    {
        margin-left:10px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 800px)
{
    main>section
    {
        width: calc(100% - 20px);
    }
}

/*

FOOTER

 */

footer
{
    padding-top: 10px;
}

footer>section, footer
{
    background-color: #292929;
}

footer>section>ul
{
    margin:0;
    padding: 0;
    display: block;
}

footer>section>ul>li
{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 4px;
}

footer>section>ul>li:first-child
{
    margin-bottom: 10px;
    font-size: large;
}

@media screen and (max-width: 1220px)
{
    footer>section
    {
        width: calc(100vw - 20px);
    }

    footer>section>ul
    {
        width: calc(100%/3 - 10px);
        float: left;
    }
}

@media screen and (max-width: 600px)
{
    footer>section>ul
    {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width: 1200px)
{
    footer>section>ul
    {
        width: 393px;
        float: left;
    }
}
