body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

@media screen and (min-width: 1000px) {
    section
    {
        width: 480px;
        padding: 10px;
        float: left;
    }

    nav, body, h1, h2, ul, .container{
        width: 1000px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

ul
{
    list-style-type: none;
}

nav > ul
{
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

nav ul li{
    display: block;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    line-height: 22px;
}

nav > ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
    margin: 0;
    background-color: aquamarine;
}

nav > ul li a:hover{
    background-color: aqua;
}

nav ul li a.active{
    background-color: grey;
}

body>ul
{
    list-style: decimal-leading-zero inside;
    background-color: lightgray;
    padding: 5px;
}

body>ul li
{
    margin-bottom: 2px;
    margin-top: 2px;
    border-top: grey 1px solid;
    padding: 3px;
}

body>ul li:hover
{
    background-color: darkgrey;
}

body>ul li:first-child
{
    border: none;
}

.clear
{
    clear:both;
}