body
{
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

main
{
    display: block;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

label, input
{
    display: block;
}

label
{
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: large;
}

input
{
    border-radius: 5px;
    border: 2px grey solid;
    padding: 3px;
    width: calc(100% - 44px);
    margin-left: 14px;
    line-height: 20px;
}

input[type=radio],input[type=checkbox]
{
    border: 1px solid black;
    display: inline-block;
    width: auto;
}

input[type=submit]
{
    background-color: white;
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
}

.clear
{
    clear:both;
}